<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Diner_Smash.Properties.Gameplay" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Diner_Smash.Properties.DinerSmash" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <Diner_Smash.Properties.Gameplay>
            <setting name="Gary_MenuTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Gary_EatTime" serializeAs="String">
                <value>7.5</value>
            </setting>
            <setting name="Kitchen_FoodPrepareTime" serializeAs="String">
                <value>5</value>
            </setting>
        </Diner_Smash.Properties.Gameplay>
        <Diner_Smash.Properties.DinerSmash>
            <setting name="GraphicsWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GraphicsHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowMode" serializeAs="String">
                <value>1</value>
            </setting>
        </Diner_Smash.Properties.DinerSmash>
    </userSettings>
</configuration>
